@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*grid just as example*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    margin-right: 1.69492%;
}

.row {
  *zoom: 1;
  width: 100%;
  position: relative;
  z-index: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: 6.77966%;
}

.col-2 {
  width: 15.25424%;
}

.col-3 {
  width: 23.72881%;
}

.col-4 {
  width: 32.20339%;
}

.col-5 {
  width: 40.67797%;
}

.col-6 {
  width: 49.15254%;
}

.col-7 {
  width: 57.62712%;
}

.col-8 {
  width: 66.10169%;
}

.col-9 {
  width: 74.57627%;
}

.col-10 {
  width: 83.05085%;
}

.col-11 {
  width: 91.52542%;
}

.col-12 {
  width: 100%;
}

.col-last {
  margin-right: 0;
  border-right: none !important;
  float: right;
}
/*end of grid*/

html {
  font-size: 16px;
}

body {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
  font-family: "Lato", sans-serif;
  background-color: #262626;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
body.light {
  background-image: none;
  background-color: #fdfdfd;
}

.fullpage {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.page-header {
  -moz-box-shadow: 0 3px 6px #000000;
  -webkit-box-shadow: 0 3px 6px #000000;
  box-shadow: 0 3px 6px #000000;
  height: 73px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 73px;
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
}

.header-brand {
  padding-left: 1.75rem;
}
.header-brand img {
  height: 25px;
  vertical-align: middle;
  max-width: 100%;
}

.btn-layout {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent url('/images/night.png') no-repeat scroll center;
  float: right;
  margin-right: 1.75rem;
  margin-top: 1.75rem;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: 100vw;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.btn-layout.active {
  background: transparent url('/images/day.png') no-repeat scroll center;
}

h1 {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 4rem;
  padding: 1.75rem;
  text-align: center;
  line-height: 1em;
}
h1 small {
  display: block;
  text-transform: uppercase;
  font-size: 2rem;
}
h1 > span {
  display: block;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.875rem;
  font-weight: 300;
}
h2 span {
  text-transform: uppercase;
}

.dev {
  color: #4d8cff;
}

.des {
  color: #ffcb61;
}

.go {
  text-align: center;
  font-size: 3em;
  color: #EA301C;
  padding: 1.75rem;
}

.skills {
  -moz-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  -webkit-transition: color 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: color 0.2s linear 0s;
  text-align: center;
  padding: 1.75rem;
  color: #ffffff;
  border-color: #ffffff;
}
.light .skills {
  color: #404040;
  border-color: #404040;
}

.specializations {
  margin: 0 auto;
  width: 50vw;
  font-size: 1.5rem;
  padding: 1.75rem;
}
.specializations li {
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 4px 2px;
  padding: 0.875rem;
  border-style: solid;
  border-width: 1px;
}

.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid #ffffff;
  width: 100%;
  padding: 1.75rem;
  text-align: center;
}
.footer p {
  margin-bottom: 0.875rem;
}
.footer img {
  max-height: 20px;
}

h1 {
  -moz-transform: translate(0, -100vh);
  -ms-transform: translate(0, -100vh);
  -webkit-transform: translate(0, -100vh);
  transform: translate(0, -100vh);
}
.animate h1 {
  -moz-transition: -moz-transform 0.5s ease-in-out 0s;
  -o-transition: -o-transform 0.5s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0.5s ease-in-out 0s;
}
.animate h1 span {
  -moz-transition: -moz-transform 0.5s ease-in-out 0.5s;
  -o-transition: -o-transform 0.5s ease-in-out 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out 0.5s;
}
.animate h1 small {
  -moz-transition: -moz-transform 0.5s ease-in-out 0.5s;
  -o-transition: -o-transform 0.5s ease-in-out 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out 0.5s;
}
h1 span {
  -moz-transform: translate(-200vw, 0);
  -ms-transform: translate(-200vw, 0);
  -webkit-transform: translate(-200vw, 0);
  transform: translate(-200vw, 0);
}
h1 small {
  -moz-transform: translate(200vw, 0);
  -ms-transform: translate(200vw, 0);
  -webkit-transform: translate(200vw, 0);
  transform: translate(200vw, 0);
}

.go {
  -moz-transform: translate(0, -100vh);
  -ms-transform: translate(0, -100vh);
  -webkit-transform: translate(0, -100vh);
  transform: translate(0, -100vh);
}
.animate .go {
  -moz-transition: -moz-transform 0.5s ease-in-out 1s;
  -o-transition: -o-transform 0.5s ease-in-out 1s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 1s;
  transition: transform 0.5s ease-in-out 1s;
}

.skills {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.animate .skills {
  -moz-transition: opacity 1s ease-in-out 1.5s;
  -o-transition: opacity 1s ease-in-out 1.5s;
  -webkit-transition: opacity 1s ease-in-out;
  -webkit-transition-delay: 1.5s;
  transition: opacity 1s ease-in-out 1.5s;
}

.footer {
  -moz-transform: translate(0, 25vh);
  -ms-transform: translate(0, 25vh);
  -webkit-transform: translate(0, 25vh);
  transform: translate(0, 25vh);
}
.animate .footer {
  -moz-transition: -moz-transform 0.3s linear 2s;
  -o-transition: -o-transform 0.3s linear 2s;
  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transition-delay: 2s;
  transition: transform 0.3s linear 2s;
}

.animate h1, .animate h1 small, .animate p, .animate .footer, .animate h1 > span {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.animate .skills {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media only screen and (min-width: 1020px) and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1020px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 760px) {
  html {
    font-size: 12px;
  }

  .specializations {
    width: auto;
  }

  .header-brand {
    max-width: 65%;
    display: inline-block;
  }
  .header-brand img {
    height: auto;
  }
}
