{snippet form}
    <h2>Kontaktujte ma e-mailom</h2>
    {if isset($emailSent)}
        <p class="alert alert-success big">Ďakujeme, formulár bol úspešne odoslaný.</p>
    {else}

        <ol n:if="$control['contactForm']->hasErrors()" n:inner-foreach="$control['contactForm']->errors as $error" class="alert alert-danger">
           <li>{$error}</li>
        </ol>

        {form contactForm class => "form-horizontal ajax"}

            {input msg style => 'display:none'}
            <div n:class="$control['contactForm']['name']->hasErrors() ? 'error','form-group'">
                {input name}
            </div>
            <div n:class="$control['contactForm']['email']->hasErrors() ? 'error','form-group'">
                {input email}
            </div>
            <div class="form-group">
                {input phone}
            </div>
            <div class="form-group">
                {input submit}
            </div>
        {/form}
    {/if}
{/snippet}