// -------------------------------------------------------
// COLORS
// -------------------------------------------------------
// base colors
$color-black:                     #000000 !default;
$color-white:                     #ffffff !default;
$color-gray:                      #757171 !default;
$color-gray-light:                lighten($color-black,75%) !default;
$color-gray-lighten:              #ebebeb !default;
$color-gray-darken:               lighten($color-black,25%) !default;
// brand colors
$color-brand:                     #4d8cff !default;
$color-brand-2:                   #ffcb61 !default;

// dialog colors  
$color-error:                     #EA301C !default;
$color-success:                   #1CEAA5 !default;

// -------------------------------------------------------
// UNITS
// -------------------------------------------------------
$rem:                             1rem !default; // = $font-size-base


// -------------------------------------------------------
// FONTS
// -------------------------------------------------------
// - font sizes
$font-size-base:                  16 !default;
$fon-size-paragraph:              $rem !default;
// line heights
$line-heigth-base:                #{(24 / $font-size-base)}em !default;

// font weights
$font-weight-light:               300 !default;
$font-weight-normal:              400 !default;
$font-weight-bold:                700 !default;
// font family
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext);
$font-family-base:                'Lato', sans-serif !default;
//

// -------------------------------------------------------
// MARGINS
// -------------------------------------------------------
$margin:                          1.75 * $rem !default;
$margin-half:                     0.5 * $margin !default;

// -------------------------------------------------------
// PADDINGS
// -------------------------------------------------------


// -------------------------------------------------------
// DIMENSIONS
// -------------------------------------------------------
//$width-fix:                       1200px !default;
$width-fix:                       1022px !default;
$width-full:                      100% !default;
$width-tablet:                    95% !default;

$height-page-header:              73px !default;


// -------------------------------------------------------
// PREFIXES
// -------------------------------------------------------
$prefix-col:                      "col" !default;
$prefix-js:                       "js" !default;


// -------------------------------------------------------
// RESOLUTIONS
// -------------------------------------------------------
// - break points
$breakpoint-desktop:              $width-fix !default;
$breakpoint-tablet:               760px !default;


// -------------------------------------------------------
// GRID SETTINGS
// -------------------------------------------------------
// - base grid settings
$grid-cols:                       12 !default;
$grid-offsets:                    1/4 !default;
// - susy grid constructor
$susy: (
    columns: $grid-cols,
    gutters: $grid-offsets,
    math: fluid,
    output: float,
    gutter-position: after,
    debug: (image:show)
);