$i: 0;

@while $i < $grid-cols {
  .#{$prefix-col}-#{$i + 1} {
    @extend %col-base-settings;
    width: span($i + 1);
  }
  $i: $i + 1;
}

.col-last {
  margin-right: 0;
  border-right: none !important;
  float: right;
}

.row {
  @extend %row-clearfix;
}

