html {
  font-size: #{$font-size-base}px;
}

body {
  @include transition(background 0.3s ease 0s);
  font-family: $font-family-base;
  //  background-image:  image-url('bcg/body-2.png'),image-url('bcg/body.jpg');
  background-color: lighten($color-black, 15%);
  overflow: hidden;
  color: $color-white;
  position: relative;
  z-index: 0;
  &.light {
    background-image: none;
    background-color: #fdfdfd;
  }
}

.fullpage {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  min-height: 100vh;
  width: 100%;

}

.page-header {
  @include box-shadow(0 3px 6px $color-black);
  height: $height-page-header;
  border-bottom: 1px solid rgba($color-white, 0.5);
  line-height: $height-page-header;
  background-color: rgba($color-black, 0.75);
  position: relative;
  z-index: 1;
}

.header-brand {
  padding-left: $margin;
  img {
    height: 25px;
    vertical-align: middle;
    max-width: 100%;
  }
}

.btn-layout {
  @include border-radius(5px);
  background: transparent image-url('night.png') no-repeat scroll center;
  float: right;
  margin-right: $margin;
  margin-top: $margin;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: 100vw;
  border: 2px solid $color-white;
  cursor: pointer;
  &.active {
    background: transparent image-url('day.png') no-repeat scroll center;
  }
}

h1 {
  background-color: rgba($color-black, 0.75);
  color: $color-white;
  font-size: #{(64/$font-size-base)}rem;
  padding: $margin;
  text-align: center;
  line-height: 1em;

  small {
    display: block;
    text-transform: uppercase;
    font-size: #{(32/$font-size-base)}rem;
  }
  & > span {
    display: block;
  }
}

h2 {
  font-size: #{(32/$font-size-base)}rem;
  padding-bottom: $margin-half;
  font-weight: $font-weight-light;
  span {
    text-transform: uppercase;
  }
}

.dev {
  color: $color-brand;
}

.des {
  color: $color-brand-2;
}

.go {
  text-align: center;
  font-size: 3em;
  color: $color-error;
  padding: $margin;
}

.skills {
  @include transition(color 0.2s linear 0s);
  text-align: center;
  padding: $margin;
  color: $color-white;
  border-color: $color-white;

  .light & {
    color: $color-gray-darken;
    border-color: $color-gray-darken;
  }
}

.specializations {
  margin: 0 auto;
  width: 50vw;
  font-size: #{(24/$font-size-base)}rem;
  padding: $margin;
  li {
    display: inline-block;
    @include border-radius(5px);
    margin: 4px 2px;
    padding: $margin-half;
    border-style: solid;
    border-width: 1px;
  }
}

.footer {
  @include box-sizing();
  background-color: rgba($color-black, 0.75);
  border-top: 1px solid $color-white;
  width: 100%;
  padding: $margin;
  text-align: center;
  p {
    margin-bottom: $margin-half;
  }
  img {
    max-height: 20px;
  }
}

// animations
h1 {
  @include transform(translate(0, -100vh));
  .animate & {
    @include transition(transform 0.5s ease-in-out 0s);
    span {
      @include transition(transform 0.5s ease-in-out 0.5s);

    }
    small {
      @include transition(transform 0.5s ease-in-out 0.5s);
    }
  }
  span {
    @include transform(translate(-200vw, 0));

  }
  small {
    @include transform(translate(200vw, 0));
  }
}

.go {
  @include transform(translate(0, -100vh));
  .animate & {
    @include transition(transform 0.5s ease-in-out 1s);
  }
}

.skills {
  @include opacity(0);
  .animate & {
    @include transition(opacity 1s ease-in-out 1.5s);
  }
}

.footer {
  @include transform(translate(0, 25vh));
  .animate & {
    @include transition(transform 0.3s linear 2s);
  }
}

.animate {
  h1, h1 small, p, .footer, h1 > span {
    @include transform(translate(0, 0));
  }
  .skills {
    @include opacity(1);
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1020px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 760px) {
  html {
    font-size: 12px;
  }
  .specializations {
    width: auto;
  }
  .header-brand {
    max-width: 65%;
    display: inline-block;
    img {
      height: auto;
    }
  }
}
