<div class="middle">

    <p class="go">Webpage is under development.</p>

    <section class="skills">
        <h2>My skills as
            <small class="dev">webdeveloper</small>
        </h2>
        <ul class="specializations">
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>SASS</li>
            <li>javaScript</li>
            <li>PHP</li>
        </ul>
        <h2>My skills as
            <small class="des">webdesigner</small>
        </h2>
        <ul class="specializations">
            <li>Adobe Photoshop</li>
            <li>Gimp</li>
            <li>Inkscape</li>
        </ul>
    </section>

</div>