<!DOCTYPE html>
<html data-lang="{$lang}">
<head>
    <title>{block title}{/}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow,noodp">
    <meta name="description" content="{block description|truncate:151,''}{/}">
    <meta name="author" content="matoscheer.com">
    <meta name="keywords" content="{block keywords}{/}">
    <meta property="og:title" content="Klep">
    <meta property="og:description" content="{$head['description']}">
    <meta property="og:url" content="http://www.matoscheer.com">
    <meta property="og:site_name" content="matoscheer.com">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link href="{$basePath}/css/screen.css" rel='stylesheet' type='text/css'>
</head>
{var $time = date('H') + 1 - 1}
{var $sunrise = 7}
{var $sunset = 18}

<body n:class="$time >= $sunrise && $time < $sunset ? 'light' : 'dark' , 'animations'" id="animation">
<script n:syntax="off">
    (function (i, s, o, g, r, a, m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)}, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
    })
    (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59770315-1', 'auto');
    ga('send', 'pageview');

</script>
<div class="fullpage" id="ieNotSupport">
    {include '_navigation.latte'}

    {block content}

    {/block}

    {include '_footer.latte'}
</div>


{block scripts}
    <script src="{$basePath}/js/app.pack.js"></script>
{/block}

</body>
</html>
