{var $time = date('H') + 1 - 1}
{var $sunrise = 7}
{var $sunset = 18}
{if $time >= $sunrise && $time < $sunset}
    {var $buttonText = "dark"}
{else}
    {var $buttonText = "light"}
{/if}
<nav role="navigation">
    <div class="page-header">
        <a class="header-brand" href="/" title="{$head['alt']}">
            <img src="{$basePath}/images/logo.png" alt="{$head['alt']}"/>
        </a>
        <button n:class="$time >= $sunrise && $time < $sunset ? '' : 'active', 'btn-layout'"
                id="js-layout">{$buttonText}</button>
    </div>
    <h1>
        <span>Martin Scheer</span>
        <small>web <span class="dev">developer</span> & web <span class="des">designer</span></small>
    </h1>
</nav>